In [1]:
import pandas as pd
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import string
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
dataset=pd.read_csv('dataset/national_anthems.csv')
dataset=dataset.drop(['Continent','Alpha-2','Alpha-3'],axis=1)

In [3]:
dataset['Country'] = dataset['Country'].replace('Bosnia and Herzegovina', 'Bosnia and Herz.')
dataset['Country'] = dataset['Country'].replace('Democratic Republic of Congo', 'Dem. Rep. Congo')
dataset['Country'] = dataset['Country'].replace('Moldova (the Republic of)', 'Moldova')
dataset['Country'] = dataset['Country'].replace('Republic of North Macedonia', 'North Macedonia')
dataset['Country'] = dataset['Country'].replace('Netherlands (the)', 'Netherlands')
dataset['Country'] = dataset['Country'].replace('Dominican Republic', 'Dominican Rep.')
dataset['Country'] = dataset['Country'].replace('South Sudan', 'S. Sudan')
dataset['Country'] = dataset['Country'].replace('Republic of the Congo', 'Congo')
dataset['Country'] = dataset['Country'].replace('United Kingdom of Great Britain and Northern Ireland (the)', 'United Kingdom')
dataset['Country'] = dataset['Country'].replace('Russian Federation (the)', 'Russia')
dataset['Country'] = dataset['Country'].replace('Central African Republic', 'Central African Rep.')
dataset['Country'] = dataset['Country'].replace('Equatorial Guinea', 'Eq. Guinea')
dataset['Country'] = dataset['Country'].replace('Ivory Coast', "Côte d'Ivoire")

In [4]:
dataset=dataset.sort_values(by=['Country'])

In [5]:
stem=PorterStemmer()
def removestop(anthem):
    anthem=anthem.lower()
    anthem=anthem.translate(str.maketrans('','',string.punctuation))
    x=[word for word in anthem.split() if word not in stopwords.words('english')]
    stemmedout=stem.stem(' '.join(x))
    return stemmedout

In [6]:
anthem=dataset['Anthem']
for i in range(0,len(anthem)):
    dataset['Anthem'][i]=removestop(dataset['Anthem'][i])

In [7]:
vectorize=TfidfVectorizer()
x=vectorize.fit_transform(dataset['Anthem'])

In [8]:
x_dense = pd.DataFrame(x.toarray(), columns=vectorize.get_feature_names_out())
data = pd.concat([dataset['Country'], x_dense], axis=1)
data.to_csv('preprocessed_dataset.csv',index=False)

In [9]:
data.head()

,Country,4th,abandon,abandons,abanyarwanda,abide,ablaze,able,abound,abounds,...,zeal,zealand,zealous,zenith,zimbabwe,zion,ºciuszko,ãƒâ,œending,šawice
90,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
0,Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
134,Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
135,Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.129238,0.0,0.0,0.129238
76,Antigua and Barbuda,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000